Dofus
Dofus-beta
Dofus-dofus3
Dofus-dofus3-copie
Retro
*.sqlite
*-wal
*-shm
*.i18n.json
*.zip
node_modules
output
.env
temp/
json/
dump.cs
DummyDll
dofus.proto
old
Il2CppDumper/*
!Il2CppDumper/Il2CppDumper*
!Il2CppDumper/config.json
!Il2CppDumper/protodec.exe