
INPUT_FOLDER=PATH_TO_YOUR_DOFUS_FOLDER/
OUTPUT_FOLDER=json/

DATABASE_URL=./dofus.sqlite
JSON_FOLDER=json/
# Set to also parse Map/Data bundles into a map interactions database
# MAP_INTERACTIONS_DB=maps.sqlite
